.DS_Store
*/.DS_Store

# Site Creation
_site
.sass-cache
.jekyll-metadata
.jekyll-cache
Gemfile.lock

# IDEs
.idea
.vscode/

# App Code
node_modules

# Deployment
__pycache__
credentials.txt

# Testing
*.received.*
/junit-reports
*/settings.local.json
