# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Samman Technical Coaching
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Technical coaches will find useful materials for teaching skills like TDD on this site. 
  The Samman Technical Coaching Society publishes code katas, learning hours and hosts networking events.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://sammancoaching.org" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: coachingsamman
github_username:  sammancoaching

# Build settings
markdown: kramdown
search_enabled: true
plugins:
  - jekyll-feed
collections:
  kata_descriptions:
    output: true
  learning_hours:
    output: true
    sort_by: difficulty
  activities:
    output: true
    sort_by: minutes
  workshops:
    output: true
  code_smells:
    output: true
defaults:
  - scope:
      path: ""
      type: "kata_descriptions"
    values:
      layout: "kata_description"
  - scope:
      path: ""
      type: "learning_hours"
    values:
      layout: "learning_hour"
  - scope:
      path: ""
      type: "activities"
    values:
      layout: "activity"
  - scope:
      path: ""
      type: "workshop"
    values:
      layout: "workshop"
  - scope:
      path: ""
      type: "code_smells"
    values:
      layout: "code_smell"
  - scope:
      path: ""
    values:
      layout: "default"

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
