$primary-color: #333;
$mid-blue: rgb(65, 103, 136);

$coral: rgb(240, 130, 113);
$dark-blue: rgb(23,64,100);
$off-white: rgb(243, 238, 230);
$light-blue: rgb(162, 195, 221);
$light-brown: rgb(222, 198, 162);
