$primary-color: #333;
$dark-blue: rgb(29, 62, 97);
$mid-blue: rgb(65, 103, 136);
$light-blue: rgb(170, 197, 220);
$salmon-pink: rgb(227, 136, 117);
$coral: rgb(240, 130, 113);
$dark-blue-2: rgb(23,64,100);
$off-white: rgb(243, 238, 230);
$light-blue-2: rgb(162, 195, 221);
$light-brown: rgb(222, 198, 162);
