@import "colors";
@import "variables";

.site-nav {
  position: absolute;
  top: 20px;
  left: $spacing-unit * .5;
  background-color: $coral;
  border: 1px solid $dark-blue;
  border-radius: 5px;
  text-align: left;

  a {
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
    display: inline-block;
    padding: 3px 6px;
    margin: 0px;
  }
  a:link, a:visited {
      color: $off-white;
      background: $coral;
  }
  a:active,  a.current {
      color: $coral;
      background: $off-white;
  }
  a:hover {
      background: $dark-blue;
  }
  a:hover.current {
      color: $dark-blue;
      background: $off-white;
  }


  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $dark-blue;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    color: $primary-color;
    line-height: $base-line-height;
    display: block;
    padding: 5px 10px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 5px;
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    float: none;
    border: none;
    text-align: justify;
    text-align-last:center;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline-block;
      padding: 0px;
      margin:0px;
    }
  }
}
