$spacing-unit:     30px;
$base-line-height: 20px;
$on-medium: 600px;
$content-width: 750px;
$on-large: 800px;

$font-stack-body: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
$font-stack-headers: 'Neulis Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
