@import "navigation";
@import "colors";
@import "variables";
@import "print";

a:link {
    color: $dark-blue;
}
a:visited {
    color: $dark-blue;
}
a:active {
    color: $light-blue;
}
a:hover {
    color: $coral;
}
a.current {
	color: $light-blue;
}
img[src*="#book_cover"] {
	border: 5px solid $dark-blue;
	width: 250px;
	position: relative;
	left: 250px;
}


@media screen and (max-width: $on-medium) {
  .banner{
    padding-right: 70px;
    img{
      width: 100%;
    }
   }
}
@media screen and (min-width: $on-medium) {

  .banner {
    img{
      width: 750px;
    }
   }
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
	font: 100% $font-stack;
	color: $dark-blue;
	background: $off-white;
	li {
        padding: 0px 12px;
        text-decoration: none;
    }
}

.site-header {
  background-image: url("/assets/images/samman_banner_thin.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: $coral;
  padding-top: 110px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}


.search-box {
  float:right;
  margin: -13px 18px 5px 0;
}

footer {
	padding: 6px 12px;
}

.wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit * .5;
  padding-left: $spacing-unit * .5;

  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}