---
layout: homepage
---
{{ content }}

<h2>Sources</h2>
<p>
<ul>
    {% if page.source == 'Martin Fowler' %}
        <li>This smell is included Martin Fowler's book "Refactoring", 2nd Edition</li>
    {% endif %}
    {% if page.wikipedia_source == true %}
        <li> This smell is included among wikipedia's <a href="https://en.wikipedia.org/wiki/Code_smell">code smells</a></li>
    {% endif %}
    {% if page.source != 'Martin Fowler' %}
        <li>This smell was contributed to this site by {{ page.source }}</li>
    {% endif %}

</ul>
</p>

<p>
    Back to <a href="/reference/code_smells/index.html">All Code Smells</a>
</p>