---
title: "Learning Hours by Tag"
layout: homepage
---

{{ content }}

<script>
    function handleCheckboxClick() {
        updateSections();
    }

    function updateSections() {
        const checkboxes = document.querySelectorAll('.tag-checkbox');
        const activeTags = [];
        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                activeTags.push(checkbox.value);
            }
        });

        // Show all sections if no tags are selected
        if (activeTags.length === 0) {
            const headers = document.querySelectorAll('h2');
            const lists = document.querySelectorAll('ul');
            headers.forEach(header => header.style.display = 'block');
            lists.forEach(list => list.style.display = 'block');
            return;
        }

        // Show only selected sections
        checkboxes.forEach(checkbox => {
            const tag = checkbox.value;
            const header = document.getElementById(tag);
            const list = header ? header.nextElementSibling : null;
            const displayStyle = activeTags.includes(tag) ? 'block' : 'none';
            if (header) header.style.display = displayStyle;
            if (list) list.style.display = displayStyle;
        });
    }
</script>


{% assign all_tags = site.learning_hours | map: 'tags' | join: ',' | split: ',' | uniq %}
{% for tag in all_tags %}
{% assign tag_title = site.data.learning_hour_tags[tag] | default: tag %}
<div>
    <label>
        <input type="checkbox" class="tag-checkbox" value="{{ tag }}" onclick="handleCheckboxClick('{{ tag }}')"> {{ tag_title }}
    </label>
</div>

{% endfor %}


{% for tag in all_tags %}
{% assign tag_title = site.data.learning_hour_tags[tag] | default: tag %}
<h2 id="{{ tag }}">{{ tag_title }}</h2>
<ul>
    {% for item in site.learning_hours %}
    {% if item.tags contains tag %}
    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
{% endfor %}

